.container {

}

.header div {
    display: inline-block;
    align-content: center;
}

img {
    height: 200px;
    width: 380px;
}

h1 {
    font-size: 60px;
    color: blue;
}

.side-image {
	width: 30%;
	height: 100vh;
	float: left;
	background-color: yellow;
}

.content {
	width: 70%;
	height: 100vh;
	float: left;
	background-color: blue;
}