/* background images */
#si-home{
	background-image: url('../gx/home.jpg');
}
#si-galerie{
	background-image: url('../gx/galerie.jpg');
}
#si-ueber-uns{
	background-image: url('../gx/ueber.jpg');
}
#si-kontakt{
	background-image: url('../gx/kontakt.jpg');
}
#si-angebot{
	background-image: url('../gx/angebot.jpg');
}
#rec-business{
	background-image: url('../gx/business.jpg');
}
#rec-elegant{
	background-image: url('../gx/elegant.jpg');
}
#rec-hochzeit{
	background-image: url('../gx/hochzeit.jpg');
}
#rec-sommer{
	background-image: url('../gx/sommer.jpg');
}

a{
	text-decoration: none !important;
}
body{
	padding: 0 !important;
	overflow-x: hidden;
}

.gallery{
	margin-left: -10px;
	margin-right: -10px;
}

p{
	line-height: 1.7;
	max-width: 80%;
}

.logo{
	position: absolute;
	top: 50%;
	left: 50%;
	max-height: 80px;
	transform: translate(-50%, -50%);
}

.logo-home{
	max-height: 120px;
}

.menu{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: -100vh;
	border-left: solid 1px #5f4b8b;
	background: white;
	transition: all 450ms ease-in-out;
}
.menu-top{
	top: 0;
}
.menu-wrapper{
	width: 100%;
	height: 100%;
	position: relative;
}

.menu ul{
	position: absolute;
	list-style: none;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	margin: 0;
}

.menu ul li{
	text-transform: uppercase;
	font-size: 24px;
	font-family: "Lora";
	line-height: initial;
	color: #5f4b8b ;
	margin-bottom: 24px;
	width: 100%;
	text-align: center;
}

.menu ul li a{
	color: #5f4b8b ;
	text-decoration: none !important;
}
.menu ul li:hover a{
	color: #886cc7;
}



header{
	position: fixed;
	z-index: 99;
	height: 70px;
	width: 100%;
}

h1, h2, h3, h4{
	font-family: 'Lora';
	font-weight: 300;
	color: #5f4b8b ;
}
.fa-bars{
	color: #5f4b8b !important;
	float: right;
	font-size: 30px;
	margin: 16px;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(255,255,255, 0.7);
	cursor: pointer;
}
.fa-bars:hover{
	opacity: 0.7;
}
h1 {
	font-size: 60px;
}
h2 {
	font-size: 36px;
	margin-bottom: 24px;
}
h3{
	font-size: 24px;
	margin-top: 32px;
}

p{
	font-size: 16px;
	font-family: sans-serif;
}

.button{
	width: fit-content;
	background: #5f4b8b;
	color: white;
	font-size: 20px;
	font-family: "Lora";
	padding: 20px;
	padding-left: 24px;
	padding-right: 24px;
	border-radius: 50px;
	cursor: pointer;
	transition: background 250ms ease-out;
}
.button:hover{
	background: #886cc7;
}

.wrapper{
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
}

.mover{
	width: 100%;
	min-height: 100vh;
}


.side-image {
	width: 100%;
	height: 30vh;
	overflow: hidden;
	transition: all 750ms ease-in-out;
}
.si-home{
	height: 38vh;
}
.si-inner{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	transition: all 1000ms ease-out;
}
.si-inner-scaled{
	transform: scale(1.05);
	transform-origin: center;
}

.si-inner-overlay{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 30vh;
	background-color: rgba(95, 75, 139, 0.7);
}
.si-home .si-inner-overlay{
	height: 38vh;
}
.si-inner-overlay img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content {
	width: 100%;
	min-height: 70vh;
	padding: 20px;
}
.content-home{
	min-height: 62vh;
	padding: 50px;
}

.content-home h3{
	margin-bottom: 40px;
}


.steps{
	max-width: 700px;
}
.step{
	margin-bottom: 40px;
	height: 280px;
	margin-top: 40px;
}

.step .number{
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 38px;
	border-radius: 50px;
	background: #937acc;
	float: left;
	text-align: center;
	color: white;
	font-family: "Lora";
	transition: all 500ms ease-out;
}
.step .stuff{
	width: calc(100% - 80px);
	float: left;
	padding-left: 20px;
	padding-top: 8px;
	height: 150px;
}
.step h4{
	margin-left: 80px;
	font-size: 20px;
}
.step:hover .number{
	transform: scale(1.15);
	background: #5f4b8b;
}

.record{
	width: 100%;
	padding-bottom: 100%;
	margin-bottom: 20px;
	position: relative;
	background-size: cover;
	background-position: center;
}
.record-inner{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(95, 75, 139, 0.7);
	opacity: 0;
	transition: 500ms ease-out;
}
.record:hover .record-inner{
	opacity: 1;
}
.record-inner h3{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: white;
	margin: 0;
	padding: 0;
}

footer{
	background: #fafafa;
	padding: 50px;
}

footer .container{
	padding: 0;
}

footer p{
	font-size: 14px;
	line-height: 1.8;
}

footer h3{
	margin-top: 0;
}



/* Medium Screen */
@media screen and (min-width: 700px) {
	.side-image {
		width: 100%;
		height: 38vh;
	}
	.si-inner-overlay{
		width: 100%;
		height: 38vh;
	}
	.step h4{
		margin-left: 110px;
	}
	.content {
		width: 100%;
		min-height: 62vh;
		padding: 50px;
	}
	.step{
		height: 180px;
	}
	.step .number{
		width: 80px;
		height: 80px;
		line-height: 80px;
		font-size: 48px;
	}
	.step .stuff{
		width: calc(100% - 110px);
		float: left;
		padding-left: 30px;
	}
	.record{
		float: left;
		width: calc(50% - 20px);
		padding-bottom: calc(50% - 20px);
		margin: 10px;
	}
}

/* Large Screen */
@media screen and (min-width: 1000px) {
	.mover{
		width: 100%;
		min-height: 100vh;
		position: absolute;
		left: 0px;
		top: 0px;
		transition: all 750ms ease-in-out;
	}
	.step .number{
		width: 100px;
		height: 100px;
		line-height: 100px;
		font-size: 62px;
	}

	.centercenter{
		width: 80%;
		position: absolute;
		left: 50%;
		top: 40%;
		transform: translate(-50%, -50%);
	}

	h2{
		margin-bottom: 32px;
	}
	h3{
		margin-top: 64px;
		margin-bottom: 32px;
	}
	.step{
		margin-bottom: 40px;
		height: 150px;
		margin-top: 0px;
	}

	.content-home h2{
		font-size: 64px;
	}
	.content-home h3{
		font-size: 32px;
		margin-bottom: 100px;
	}

	.wrapper{
		min-height: 100vh;
	}

	.logo{
		max-height: 150px;
	}

	.logo-home{
		max-height: 200px;
	}

	.step .stuff{
		width: calc(100% - 140px);
		padding-left: 40px;
	}
	.step h4{
		margin-left: 140px;
	}
	.menu ul{
		top: 35%;
	}

	.menu ul li{
		font-size: 32px;
	}

	.side-image {
		width: 38%;
		height: 100vh;
		float: left;
		position: fixed;
		left: 0px;
		top: 0px;
	}
	.si-inner-overlay,
	.si-home .si-inner-overlay{
		width: 100%;
		height: 100vh;
	}
	.mover-left{
		left: -38%;
	}

	.content {
		width: 62%;
		min-height: 100vh;
		float: left;
		position: absolute;
		left: 38%;
		overflow-x: hidden;
		top: 0px;
		padding: 100px;
		box-sizing: border-box;
		/*padding-right: 200px;*/
	}
	.si-home, .content-home{
		width: 50%;
	}
	.c-galerie .content{
		padding-right: 100px;
		min-height: 120vh;
	}
	.c-galerie, .c-galerie .mover{
		min-height: 120vh;
	}
	.content-home{
		left: 50%;
	}

	.menu{
		float: left;
		width: 38%;
		height: 100vh;
		left: 100%;
		top: 0px;
		transition: all 450ms ease-in-out;
	}
	.menu-left{
		left: 68%;
	}

	.angebot .mover{
		min-height: 150vh;
	}
	.angebot{
		min-height: 150vh;
	}
	.angebot .content{
		min-height: 150vh;
	}


	footer{
		padding: 100px;
		padding-left: calc(38% + 100px);
	}
	footer h3{
		margin-top: 0;
	}

	.h-footer footer{
		padding-left: calc(50% + 100px);
	}
}

